h1 {
    color:rgb(22, 6, 6);
    text-align: center;
    margin: 100;
}

article {
    text-align: center;
}

p {
    font-size: large;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

h3 {
    color:rgb(185, 24, 24);
    text-align: center;
}

ul{
    font-weight: bold;
}
